:root {
  /*
  Color pallete:
  https://colorhunt.co/palette/4323232f57555a9690e0d9d9
  */
  --color-a: #e0d9d9;
  --color-b: #5a9690;
  --color-c: #2f5755;
  --color-d: #432323;
  --bg-color: var(--color-a);
}

* {
  color: var(--color-c);
}

body {
  background-color: var(--bg-color);
}

#title {
  text-align: center;
}

#container,
.row {
  display: flex;
}

.row,
.tile {
}

#container {
  flex-direction: column;
}

.row {
  justify-content: center;
}

.tile {
  background-color: white;
  border: 1.5px solid var(--bg-color);
  box-sizing: border-box;
}
